<div class="main-cont">

  <div class="container p-lg-5">
    <div class="register card o-hidden border-0 shadow-lg">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-6  graay">
            <div class="py-5 px-2">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create My Account!</h1>
              </div>
              <!-- <div class="middle">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
                <div class="bar bar4"></div>
                <div class="bar bar5"></div>
                <div class="bar bar6"></div>
                <div class="bar bar7"></div>
                <div class="bar bar8"></div>
              </div> -->
              <form [formGroup]="registerForm" (ngSubmit)='register(registerForm)' class="user text-white"
                autocomplete="off">

                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input formControlName='first_name' type="text" name="username"
                      class="form-control form-control-user deep-dark" placeholder="First Name" autocomplete="off"
                      required="">
                    <p *ngIf="fnameError != ''" class="alert alert-warning py-0 mt-1">{{fnameError}}</p>
                  </div>
                  <div class="col-sm-6">
                    <input formControlName='last_name' type="text" name="username"
                      class="form-control form-control-user deep-dark" placeholder="Last Name" autocomplete="off"
                      required="">
                    <p *ngIf="lnameError != ''" class="alert alert-warning py-0 mt-1">{{lnameError}}</p>
                  </div>
                </div>

                <div class="form-group">
                  <input formControlName='email' type="email" name="email"
                    class="form-control form-control-user deep-dark text-white" placeholder="Email Address"
                    autocomplete="off" required="">
                  <p *ngIf="emailError != ''" class="alert alert-warning py-0 mt-1">{{emailError}}</p>
                </div>

                <div class="form-group">
                  <input formControlName='age' type="number" name="age"
                    class="form-control form-control-user deep-dark text-white" placeholder="age" autocomplete="off"
                    required="">
                  <p *ngIf="ageError != ''" class="alert alert-warning py-0 mt-1">{{ageError}}</p>
                </div>

                <div class="form-group">
                  <input formControlName='password' type="password" name="password"
                    class="form-control form-control-user text-white deep-dark" placeholder="Password"
                    autocomplete="off" required="">
                  <p *ngIf="passError != ''" class="alert alert-warning py-0 mt-1">{{passError}}</p>
                  <p *ngIf="response.includes('email')" class="alert alert-danger py-0 mt-2">Email already registered
                  </p>
                </div>
                <button type="submit" name="submitButton"
                  class="btn btn-primary text-white submitButton w-100 py-2 btn-user btn-block"><span
                    *ngIf="!flag">Create Account</span> <i *ngIf="flag" class="fa fa-spinner fa-spin"></i></button>
              </form>
              <div class="text-center mt-2">
                <div class="text-muted small">This site is protected by reCAPTCHA and the Google <a
                    class="text-secondary" href="https://policies.google.com/privacy">Privacy Policy</a> and <a
                    class="text-secondary" href="https://policies.google.com/terms">Terms of Service</a> apply.</div>
              </div>
              <hr>
              <div class="text-center">
                <span class="small">Already a member?</span>
                <a class="small a2 cursor ms-2" routerLink="/login">Log In<i class="fas fa-chevron-right small"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
